body{
    background-color: slategray;
    font-family: 'Ubuntu', sans-serif;
}

img{
    width: 300px;
    height: 300px;
}

#giphyBox{
    display: flex;
    gap:1rem;
    justify-content: center;
}

#contentBox{
    display: flex;
    justify-content: center;
    gap: 0.1rem;  
  }

#title{
    text-align: center;
    color: white;
}

#searchBtn{
    background-color: lightgrey;
}

#removeBtn{
    background-color: coral;
}